geometry : LHCb
paramsDecaying : M, P, PT
paramsStable : P, PT
paramsTwoBody : M2
@0
	name : B0_0
@1
	name : Dm_0
@2
	name : Dp_0
@3
	name : Kst0_0
@4
	name : Kp_0
	smear : LHCbGeneric
@5
	name : pim_0
	smear : LHCbGeneric
@6
	name : pim_1
	smear : LHCbGeneric
@7
	name : Km_0
	smear : LHCbGeneric
@8
	name : pip_0
	smear : LHCbGeneric
@9
	name : pip_1
	smear : LHCbGeneric
@10
	name : Kp_1
	smear : LHCbGeneric
@11
	name : pim_2
	smear : LHCbGeneric
