geometry : LHCb
paramsDecaying : M, P, PT
paramsStable : P, PT
paramsTwoBody : M2
@0
	name : B0_0
@1
	name : Dstm_0
@2
	name : Dstp_0
@3
	name : Kst0_0
@4
	name : Dm_0
@5
	name : pi0_0
	smear : LHCbGeneric
	invisible : true
@6
	name : Dp_0
@7
	name : pi0_1
	smear : LHCbGeneric
	invisible : true
@8
	name : Kp_0
	smear : LHCbGeneric
@9
	name : pim_0
	smear : LHCbGeneric
@10
	name : Kp_1
	smear : LHCbGeneric
@11
	name : pim_1
	smear : LHCbGeneric
@12
	name : pim_2
	smear : LHCbGeneric
@13
	name : Km_0
	smear : LHCbGeneric
@14
	name : pip_0
	smear : LHCbGeneric
@15
	name : pip_1
	smear : LHCbGeneric
